

  <input #fileInput hidden="true" type="file" (change)="fileInputChange($event);selectFile($event)">
  <button style="margin-right: 0.5em;" mat-raised-button color="primary" (click)="fileInput.click();selectFile($event)">
    <mat-icon>add_to_photos</mat-icon>
    Choose Files
  </button>

  <button mat-raised-button [disabled]="!selectedFiles" (click)="upload()">Upload</button>

  <mat-progress-bar *ngIf="currentFile" style="margin:0.5em;" mode="determinate" value="{{ progress }}"></mat-progress-bar>

  
  <div *ngIf="message" class="alert alert-secondary" role="alert">
    {{ message }}
  </div>

  <mat-list style="margin-top:1em;">
  <mat-list-item style="margin-top:0.5em;" *ngFor="let file of fileInfos | async">
    <mat-icon mat-list-icon>note</mat-icon>
    <div mat-line>{{ file.name }}</div>
    <mat-divider></mat-divider>
    <div mat-line>
      <a mat-button color="accent" href="{{ file.url }}" style="margin-top:8px;margin-left:-15px;">
      <mat-icon>insert_link</mat-icon> Copy Link
    </a>
    <a mat-button color="warn" href="{{ file.url }}" style="margin:8px;float:right;">
      <mat-icon>delete</mat-icon>
    </a>
  </div>
    </mat-list-item>
  </mat-list>

