<!-- 
<header class="page">
  <h1 class="page-title">Latest Articles</h1>
  <div class="page-desc">This will be the page to view the headlines/posts and sort by team and then hit read more.</div>
</header> -->

<div class="content articles">
<div class="toggle-btns">
    <button style="margin:0.5em;" mat-raised-button (click)="getBlog()">All</button>
    <button mat-raised-button (click)="getBlogFromTag('Phillies')" style="margin:0.5em;"><img style="height:1.2rem;margin-right: 7px;" src="https://molex.cloud/2022/October/15/_fYS/phils.png">Phillies</button>
    <button mat-raised-button (click)="getBlogFromTag('Eagles')" style="margin:0.5em;"><img style="height:1.2rem;margin-right: 7px;" src="https://molex.cloud/2022/October/15/_3nT/birds.png">Eagles</button>
    <button mat-raised-button (click)="getBlogFromTag('Sixers')" style="margin:0.5em;"><img style="height:1.2rem;margin-right: 7px;" src="https://molex.cloud/2022/October/24/_VyA/i.png">Sixers</button>

    <button *ngIf="showAdminControls" color="primary" mat-raised-button routerLink="../add" style="margin:0.5em;float:right;"><i style="margin-right: 7px;" class="fa-duotone fa-file-pen"></i> New Post</button>

<div *ngFor="let blog of Blogs; index as i;">

    <mat-card *ngIf="blog.published" style="margin: 1em;">
      <mat-card-title-group>
      <mat-card-title [innerHTML]="blog.title"></mat-card-title>
      <mat-card-subtitle style="font-weight:100;" [innerHTML]="blog.description"></mat-card-subtitle>
      <img mat-card-sm-image [src]="getIcon(blog.tag)">
    </mat-card-title-group>
      <mat-card-actions>
        <button routerLink="../blog/{{blog.id}}" *ngIf="showAdminControls" mat-button>Edit</button>
        <button mat-button>Read More</button>
      </mat-card-actions>
    </mat-card>
  
  </div>


</div>