<div class="container">
  <header class="jumbotron">
    <h1>Welcome, {{currentUser.username}}!</h1>
    <p>We are glad you decided to register an account with us today. Please feel free to upload files to share with other users.</p>

    <a class="post-btn" (click)="getBlog()">All</a>
    <a class="post-btn" (click)="getBlogFromTag('Phillies')">Phillies</a>
    <a class="post-btn" (click)="getBlogFromTag('Eagles')">Eagles</a>
    <a class="post-btn" (click)="getBlogFromTag('Sixers')">Sixers</a>

    <div *ngFor="let blog of Blogs; index as i;" style="margin-top:5em;">
      <div *ngIf="blog.published">
      <h4>{{blog.title}}</h4>
      <p>{{blog.post}}</p>
      <hr><small>{{blog.tag}} - <i>Published by {{blog.author}}</i> <a *ngIf="showAdminControls" href="../blog/{{blog.id}}" class="nav-link" routerLink="../blog/{{blog.id}}">Edit Post</a></small>
    </div>
    </div>
  </header>
</div>
