.side-nav {
  width: 300px;
  
}
.side-btns{
  color:rgba(255, 255, 255, 0.918) !important;
}
.nav {
  user-select: none;
}
.header{
  height:auto;
  padding:1em;
}
#main-container {
  margin: auto;
  margin-top: 2em;
  width:85vw;
}

@media screen and (max-width: 900px) {
  #main-container {
    margin-top:0;
    width: 100vw;
  }

  .top-nav-btns {
    display: none;
  }

  .logo{
    font-size:2.20rem !important;
  }
  .top{
    height: 150px !important;
  }

  .sub-header{
    margin: auto !important;
    text-align: center;
  }
  .mobile-hide{
    display:none !important;
  }


  
}




.top-nav-btns{
color:rgba(255, 255, 255, 0.918);
}

.top{
  position: absolute;
  background-color: #004c54;
  width:100%;
  top: 0;
  height: 428.2px;
  z-index: -2;
  padding:0;
  margin: 0;
  background: url(https://molex.cloud/2022/October/22/_h32/cover-top.jpg);
  background-size: cover;
  background-position-y: bottom;
}

.bottom{
  position: absolute;
  width:100%;
  bottom: 0;
  z-index:-1;
  height: 100vh;
  background: linear-gradient(0deg, rgba(45,47,52,1) 0%, rgba(45,47,52,0.75) 25%, rgba(45,47,52,0.50) 50%, rgba(45,47,52,0.25) 75%),
  rgba(45,47,52,0) 100%;
}

.child {
  width: 90% !important;
}


// .auth-container{
//   display: flex;

//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   max-width: 100% !important;
//   width: 100% !important;
// }

.auth-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.child {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 50px;
  width: 50%;
  margin: 1em;
  align-self: center;
}

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.logo{
  font-size:3.20rem;
  color: rgba(255, 255, 255, 0.911);
  font-weight: 900;
}

.sub-header{
  color: rgba(255, 255, 255, 0.911);
  font-size: smaller;
  font-style: italic;font-weight: 400;
  margin-left: 25px;
  margin-top: -50px;
}

.header-inner{
  margin-top: -1em;
}