

<div id="main-container">
  <mat-toolbar color="primary" class="nav">


<div class="header-outer">


  
    <mat-toolbar-row class="header">

      <div class="logo">Philly Sports</div>

      <span class="menu-spacer"></span>
    </mat-toolbar-row>

    <mat-toolbar-row class="mobile-hide">
      <div class="sub-header">Philadelphia Sports News, Media, and Podcast</div>
    </mat-toolbar-row>


    <div class="header-inner">
    

    <mat-toolbar-row class="info">
      
      <button (mousedown)="sidenav.toggle();" mat-icon-button color="accent">
        <mat-icon>menu</mat-icon>
      </button>

          <span *ngIf="!sidenav.opened" class="top-nav-btns">
          <a mat-button [routerLink]="'/home'" style="margin-right:0.3em;" (click)="mainTheme()">
            <mat-icon style="margin-right: 2px;font-size:1.1rem;margin-bottom: -6px;">home</mat-icon> Home
          </a>
  
          <a *ngIf="showAdminBoard" mat-button [routerLink]="'/blog'" style="margin-right:0.3em;">
            <mat-icon style="margin-right: 2px;font-size:1.1rem;margin-bottom: -6px;">note_add</mat-icon>Manage Articles
          </a>
  
          <a mat-button [routerLink]="'/user'" style="margin-right:0.3em;">
            <mat-icon style="margin-right: 2px;font-size:1.1rem;margin-bottom: -6px;">question_answer</mat-icon>Articles
          </a>
        </span>

          <span class="example-spacer"></span>


          <button *ngIf="!isLoggedIn" mat-raised-button color="accent" [matMenuTriggerFor]="beforeMenu">
             Hello, Sign in! <i class="fa-solid fa-caret-down"></i>
          </button>

          <button *ngIf="isLoggedIn" mat-raised-button color="accent" [matMenuTriggerFor]="beforeMenu">
           Welcome, {{username}} <i class="fa-solid fa-caret-down"></i>
          </button>

            <mat-menu #beforeMenu="matMenu" xPosition="before" class="expand-menu">

              <span *ngIf="isLoggedIn">
              <button mat-menu-item [routerLink]="'/profile'" class="white-override">
                <mat-icon class="white-override">person</mat-icon>
                <span>User Profile</span>
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item [routerLink]="'/home'" (click)="logout()" class="white-override">
                <mat-icon class="white-override">power_settings_new</mat-icon>
                <span>Logout</span>
              </button>
            </span>

            <span *ngIf="!isLoggedIn">
              <button mat-menu-item [routerLink]="'/register'" class="white-override">
                <mat-icon class="white-override">person_add</mat-icon>
                <span>Sign Up</span>
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item [routerLink]="'/login'" class="white-override">
                <mat-icon class="white-override">lock</mat-icon>
                <span>Login</span>
              </button>
            </span>
          </mat-menu>



          <!-- <a mat-button href="molexee.apk" style="margin-right:0.3em;">
            <mat-icon style="margin-right: 2px;font-size:1.1rem;margin-bottom: -6px;">android</mat-icon> Android App
          </a> -->

          

    </mat-toolbar-row>
  </div>
  </div>











  </mat-toolbar>

  <mat-sidenav-container hasBackdrop="true">
    <mat-sidenav #sidenav mode="over" class="side-nav">

      <mat-nav-list>

        <a class="side-btns" mat-list-item [routerLink]="'/home'" (click)="mainTheme();sidenav.toggle()">
          <mat-icon style="margin-right:0.5em;">home</mat-icon> Home
        </a>
        <a class="side-btns" *ngIf="showAdminBoard" mat-list-item [routerLink]="'/blog'" (click)="sidenav.toggle()">
          <mat-icon style="margin-right:0.5em;">note_add</mat-icon> Manage Articles
        </a>
        <a class="side-btns" mat-list-item [routerLink]="'/user'" (click)="sidenav.toggle()">
          <mat-icon style="margin-right:0.5em;">question_answer</mat-icon> Articles
        </a>
        <!-- <a mat-list-item href="molexee.apk" (click)="sidenav.toggle()">
          <mat-icon style="margin-right:0.5em;">android</mat-icon> Android App
        </a> -->
        <mat-divider></mat-divider>

        <a class="side-btns" *ngIf="!isLoggedIn" mat-list-item [routerLink]="'/register'" (click)="sidenav.toggle()">
          <mat-icon style="margin-right:0.5em;">person_add</mat-icon> Sign Up
        </a>

        <a class="side-btns" *ngIf="!isLoggedIn" mat-list-item [routerLink]="'/login'" (click)="sidenav.toggle()">
          <mat-icon style="margin-right:0.5em;">lock</mat-icon> Login
        </a>

        <a class="side-btns" *ngIf="isLoggedIn" mat-list-item [routerLink]="'/profile'" (click)="sidenav.toggle()">
          <mat-icon style="margin-right:0.5em;">person</mat-icon> {{ username }}
        </a>

        <mat-divider></mat-divider>

        <a class="side-btns" *ngIf="isLoggedIn" mat-list-item [routerLink]="'/home'" (click)="logout();sidenav.toggle()">
          <mat-icon style="margin-right:0.5em;">power_off</mat-icon> Logout
        </a>

        <a class="side-btns" mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <div class="app-container">


        <router-outlet></router-outlet>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <footer>&copy; Some Philly Sports Website, 2022</footer>
</div>

<div class="bottom"></div>
<div class="top"></div>