.list-container{
    margin-top: 3em !important;
    margin: auto;
    width: 55vw;
}

.search-box{
   padding:0.3em;
   margin-bottom: 1em;
   margin-right: 0.5em;
   width: 80%;
}

.search-container{
    width: 52vw;
    margin:auto;
}
