

<div class="list-container" *ngIf="showBlogPage">
  <a routerLink="../add" class="post-btn">Post Blog</a>
  <div class="search-container">


    <mat-form-field style="width: 100% !important" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Search by title" [(ngModel)]="title" (keydown.enter)="searchTitle()">
    </mat-form-field>



    <input type="text" placeholder="Search by title" [(ngModel)]="title" class="search-box" />
    <a (click)="searchTitle()" class="search-btn">
      Search
    </a>

  </div>

<h5 style="margin:1em;margin-top:2em;">Edit Blogs:</h5>
  <ul>
    <li style="color:rgb(54, 120, 218);text-decoration: underline;cursor: pointer;" *ngFor="let blog of blog; let i = index" [class.active]="i == currentIndex"
      (click)="setActiveBlog(blog, i)">
      {{ blog.title }}
    </li>
  </ul>

  <!-- <button class="m-3 btn btn-sm btn-danger" (click)="removeAllBlog()">
        Remove All
      </button> -->


  <app-blog-details [viewMode]="true" [currentBlog]="currentBlog"></app-blog-details>

</div>
