<div *ngIf="showBlogPage">

<div *ngIf="viewMode; else editable">

    <mat-card *ngIf="currentBlog.id">

      <h2>{{ currentBlog.title }}</h2>
    
      <h3>Content:</h3>
        {{ currentBlog.post }}



       <p>
        <b>{{ currentBlog.published ? "Published" : "Pending" }}</b> 
       </p>

  
      <a
        class="badge badge-warning"
        routerLink="/blog/{{ currentBlog.id }}"
      >
        Edit Post
      </a>
    </mat-card>
  
    <div *ngIf="!currentBlog">
      <br />
      <p>Please click on a Blog...</p>
    </div>
  </div>
  
  <ng-template #editable>
    
    <div *ngIf="currentBlog.id" class="edit-form">
      Post Preview
<div style="border: 2px solid rgba(97, 97, 97, 0.788);padding:1.5em;border-radius:10px;margin-bottom: 2em;">
      <h1 [innerHTML]="currentBlog.title"></h1>
      <p style="font-style: italic;font-size: 0.9rem;font-weight: 300;margin-top:-5px;">{{currentBlog.description}}<br />Published by, {{currentBlog.author}}</p>
      <p [innerHTML]="currentBlog.post"></p>
      <p style="background-color:rgba(104, 0, 21, 0.925);padding:5px;border-radius: 5px;width:fit-content;color:aliceblue;font-size:small;" [innerHTML]="currentBlog.tag"></p>
</div>

      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentBlog.title"
            name="title"
          />
        </div>

        <div class="form-group">
          <label for="image">Image</label>
          <input
            type="text"
            class="form-control"
            id="image"
            [(ngModel)]="currentBlog.image"
            name="image"
          />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentBlog.description"
            name="description"
          />
        </div>


      <textarea id="post" name="post" rows="4" cols="50" [(ngModel)]="currentBlog.post">
  
      </textarea>

        <div class="form-group">
          <label for="tag">Tag</label>

  
         <select class="form-control" #teams (change)="onSelected(teams.value)">
            <option>{{currentBlog.tag}}</option>
            <option>Phillies</option>
            <option>Eagles</option>
            <option>Sixers</option>
          </select>
  
        </div>
  
        <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentBlog.published ? "Published" : "Pending" }}
        </div>
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="currentBlog.published"
        (click)="updatePublished(false)"
      >
        UnPublish
      </button>
      <button
        *ngIf="!currentBlog.published"
        class="badge badge-primary mr-2"
        (click)="updatePublished(true)"
      >
        Publish
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteBlog()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateBlog()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentBlog.id">
      <br />
      <p>Cannot access this Blog...</p>
    </div>
  </ng-template>

</div>

